[submodule "tt/tt-fort"]
	path = tt/tt-fort
    #url = git@github.com:oseledets/tt-fort
    url = https://github.com/oseledets/tt-fort.git
[submodule "tt/cross/rectcross"]
	path = tt/cross/rectcross
	url = https://bitbucket.org/oseledets/rectcross
[submodule "tt/utils/rect_maxvol"]
	path = tt/utils/rect_maxvol
	url = https://bitbucket.org/muxas/rect_maxvol
