[submodule "tt/tt-fort"]
	path = tt/tt-fort
    #url = git@github.com:oseledets/tt-fort
    url = git://github.com/oseledets/tt-fort.git
[submodule "tt/cross/rectcross"]
	path = tt/cross/rectcross
	url = git://bitbucket.org/oseledets/rectcross
